@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  font-family: "Kaisei Tokumin", serif;
}

input {
  width: 70px;
}

#btn {
  text-align: center;
  background-color: yellow;
}

div.card {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  /* width: 250px; */
  margin: auto;
  /* height: 350px; */
  background-color: white;
  box-shadow: 0 0 12px white;
  display: flex;
  flex-direction: row;
}

div.card div.heart {
  color: red;
  font-size: 50px;
}

div.card div.diamond {
  color: red;
  font-size: 50px;
}

div.card div.club {
  color: black;
  font-size: 50px;
}

div.card div.spade {
  color: black;
  font-size: 50px;
}

div.card div.numberCardBlack {
  font-size: 70px;
  /* margin-top: 25%; */
  text-align: center;
  font-weight: bold;
  flex: 0 0 33.3%;
  color: black;
  align-self: center;
}

div.card div.numberCardRed {
  color: red;
  flex: 0 0 33.3%;
  font-size: 50px;
  margin-top: 25%;
  font-weight: bold;
  align-self: center;
}

.top {
  align-self: flex-start;
  flex: 0 0 33.3%;
  padding-left: 10px;
}
.bottom {
  flex: 0 0 33.3%;
  align-self: flex-end;
  text-align: right;
  padding-right: 10px;
  transform: rotateX(180deg);
}
