@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

#btn {
  text-align: center;
  background-color: yellow;
}

div.card {
  overflow: hidden;
  position: relative;
  width: 250px;
  margin: auto;
  height: 350px;
  background-color: white;
  box-shadow: 0 0 12px white;
  display: flex;
  flex-direction: column;
}

div.card div.heart {
  color: red;
  font-size: 50px;
}

div.card div.diamond {
  color: red;
  font-size: 50px;
}

div.card div.club {
  color: black;
  font-size: 50px;
}

div.card div.spade {
  color: black;
  font-size: 50px;
}

div.card div.numberCardBlack {
  font-size: 50px;
  margin-top: 25%;
  font-weight: bold;
  color: black;
  align-self: center;
}

div.card div.numberCardRed {
  color: red;
  font-size: 50px;
  margin-top: 25%;
  font-weight: bold;
  align-self: center;
}

.top {
  align-self: flex-start;
  padding-left: 10px;
}
.bottom {
  align-self: flex-end;
  margin-top: 25%;
  padding-right: 10px;
  transform: rotateX(180deg);
}
